<div class="m-2 text-end">
  <button class="btn btn-danger mt-2" (click)="logout()">Cerrar Sesion</button>
</div>

<div class="row">
  <div class="col-3">
    <shared-side-menu></shared-side-menu>
  </div>
  <div class="col-9 mt-3">
    <h1>Institucion</h1>
    <hr />
    <button class="m-3" mat-raised-button color="primary" (click)="seeRegister()">
      Registrar Institucion
    </button>
    <button class="btn btn-dark m-3"  mat-raised-button color="accent"  (click)="viewAllInstitution()">
      Ver Instituciones
    </button>

    <form
      *ngIf="registerInst"
      [formGroup]="registerForm"
      (ngSubmit)="registerInstitution()"
    >
      <div class="">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          formControlName="nombre"
        />
        <label for="">Nombre de la institucion</label> -->
        <mat-form-field class="w-50">
          <mat-label>Nombre de la institucion</mat-label>
          <input type="text" matInput formControlName="nombre">
          <mat-error
          *ngIf="registerForm.controls['nombre'].invalid && registerForm.controls['nombre'].touched"
          >Este campo es requerido</mat-error>
        </mat-form-field>

      </div>
      <div class="form-floating mb-3">
        <!-- <input
          type="text"
          class="form-control"
          id="floatingAddress"
          placeholder="Direccion"
          formControlName="direccion"
        />
        <label for="floatingAddress">Direccion</label> -->
        <mat-form-field class="w-50">
          <mat-label>Direccion</mat-label>
          <input type="text" matInput formControlName="direccion">
          <mat-error
          *ngIf="registerForm.controls['direccion'].invalid && registerForm.controls['direccion'].touched"
          >Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="form-floating mb-3">
        <!-- <input
          type="text"
          class="form-control"
          id="floatingAddress"
          placeholder="Pais"
          formControlName="pais"
        />
        <label for="floatingAddress">Pais</label> -->
        <mat-form-field class="w-50">
          <mat-label>Pais</mat-label>
          <input type="text" matInput formControlName="pais">
          <mat-error
          *ngIf="registerForm.controls['pais'].invalid && registerForm.controls['pais'].touched"
          >Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="form-floating mb-3">
        <!-- <input
          type="text"
          class="form-control"
          id="floatingAddress"
          placeholder="Tipo"
          formControlName="tipo"
        />
        <label for="floatingAddress">Tipo de Institucion</label> -->
        <mat-form-field class="w-50">
          <mat-label>Tipo de Institucion</mat-label>
          <input type="text" matInput formControlName="tipo">
          <mat-error
          *ngIf="registerForm.controls['tipo'].invalid && registerForm.controls['tipo'].touched"
          >Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          mat-flat-button color="primary"
        >
          Registrar
        </button>
      </div>
    </form>

    <!-- lista -->
    <div class="row" *ngIf="!registerInst">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>País</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listInstitution">
              <td>{{ item.nombre }}</td>
              <td>{{ item.direccion }}</td>
              <td>{{ item.pais }}</td>
              <td>{{ item.tipo }}</td>
              <td>
                <button mat-mini-fab color="warn" (click)="deleteInstitution(item.id)">
                <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
