<h2 class="text-center mt-5">Inicie Sesion</h2>

<form class="mt-5 bg-warning rounded-3 w-50 mx-auto "
[formGroup]="loginForm"
(ngSubmit)="onLogin()"
>
  <div class="justify-content-center p-3">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label ">Email</label>
      <input
        type="email"
        class="form-control mx-auto"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="correo"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control mx-auto "
        id="exampleInputPassword1"
        formControlName="password"
      />
    </div>

    <button type="submit" class="btn bg-primary mx-auto text-white" [disabled]="loginForm.invalid">Iniciar Sesion</button>
    <div id="accountHelp" class="form-text">No tienes una cuenta? <strong class="" routerLink="/auth/register">haz click aqui</strong></div>
  </div>
</form>
