<h2 class="text-center mt-5">Inicie Sesion</h2>

<form
  class="mt-5rounded-3 w-50 mx-auto"
  [formGroup]="loginForm"
  (ngSubmit)="onLogin()"
>
  <div class="row">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="correo"
        placeholder="ej: gino@gmail.com"
      />
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>
  </div>

  <div class="row w-50 mx-auto">
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">
      Ir
      <mat-icon>login</mat-icon>
    </button>
  </div>

  <div class="form-text mt-3">
    No tienes una cuenta?
    <strong class="" routerLink="/auth/register">haz click aqui</strong>

  </div>
</form>
