<div
  *ngIf="errorPerfil; else layout"
  class="text-bg-danger w-50 rounded-3 p-3 mt-5"
>
  Primero Inicie Sesion
</div>

<ng-template #layout>
  <div class="m-2 text-end">
    <button mat-raised-button color="warn" (click)="logout()">
      Cerrar Sesion
    </button>
  </div>

  <div class="row">
    <div class="col-2">
      <shared-side-menu></shared-side-menu>
    </div>

    <div class="col-10">
      <mat-card class="w-50">
        <mat-card-header>
          <mat-card-subtitle>{{ user.tipo_usuario }}</mat-card-subtitle>
          <mat-card-title>Perfil</mat-card-title>
          <mat-card-subtitle
            ><strong>Nombre:</strong> {{ user.nombre }}</mat-card-subtitle
          >

          <mat-card-subtitle
            ><strong>Correo:</strong> {{ user.correo }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-footer>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
      <hr />

      <h2>Asistente</h2>

      <button
        *ngIf="assitantEnable"
        class="btn btn-warning"
        (click)="newAssistant()"
      >
        Nuevo Asistente
      </button>

      <button
        *ngIf="!assitantEnable"
        class="btn btn-danger mx-2"
        (click)="deleteChat()"
      >
        Eliminar Conversacion
      </button>
      <div *ngIf="!assitantEnable">
        <div class="overflow-auto p-3" style="max-height: 300px">
          <div class="d-flex justify-content-center w-100">
            <mat-spinner *ngIf="isSpinner"></mat-spinner>
          </div>
          <div *ngIf="!isSpinner">
            <div *ngFor="let message of listAssistant">
              <div
                *ngIf="message.role === 'assistant'"
                class="user-message border border-secondary rounded p-2 mb-2"
              >
                <p class="text-muted">
                  {{ message.content }}
                </p>
              </div>
              <div
                *ngIf="message.role === 'user'"
                class="assistant-message border border-primary rounded p-2 mb-2"
              >
                <p class="text-primary">
                  {{ message.content }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="inputMessage" (ngSubmit)="sendQuestion()">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Escribe tu mensaje aquí"
              aria-label="Escribe tu mensaje aquí"
              aria-describedby="button-send"
              formControlName="message"
            />
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="inputMessage.invalid"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
      <hr />
    </div>
  </div>
</ng-template>
