<div class="container_form_register">
  <form
    class="form_register"
    [formGroup]="registerForm"
    (ngSubmit)="onRegister()"
  >
    <h1 class="title_form">Registro</h1>

    <div class="col">
      <mat-form-field
        style="width: 100%;"
      >
        <mat-label>Nombre y Apellido</mat-label>
        <input
          type="text"
          matInput
          placeholder="ej: Gino Baptista"
          formControlName="nombre"
        />
      </mat-form-field>

      <div
        *ngIf="
          registerForm.controls['nombre'].invalid &&
          (registerForm.controls['nombre'].dirty ||
            registerForm.controls['nombre'].touched)
        "
        class="text-danger"
      >
        Nombre es requerido.
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field
          style="width: 100%;"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Ej: gino@gmail.com"
            formControlName="correo"
          />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.controls['correo'].invalid &&
            (registerForm.controls['correo'].dirty ||
              registerForm.controls['correo'].touched)
          "
          class="text-danger"
        >
          Email es requerido y debe ser válido.
        </div>
      </div>

      <div class="col">
        <mat-form-field
          style="width: 100%;"
        >
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.controls['password'].invalid &&
            (registerForm.controls['password'].dirty ||
              registerForm.controls['password'].touched)
          "
          class="text-danger"
        >
          Contraseña es requerida.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h4>Tipo de Usuario</h4>
      <mat-form-field>
        <mat-label>elija</mat-label>
        <mat-select formControlName="tipo_usuario">
          <mat-option *ngFor="let food of tipo" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div
        *ngIf="
          registerForm.controls['tipo_usuario'].invalid &&
          (registerForm.controls['tipo_usuario'].dirty ||
            registerForm.controls['tipo_usuario'].touched)
        "
        class="text-danger"
      >
        Tipo es requerido.
      </div>
    </div>

    <div class="col-12">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="registerForm.invalid"
      >
      Registrarse
        <mat-icon>app_registration</mat-icon>
      </button>
    </div>
    <div id="accountHelp" class="form-text">
      No tienes una cuenta?
      <strong class="" routerLink="/auth/login">haz click aqui</strong>
    </div>
    <!-- {{registerForm.value |json}}
  {{'todo el formulario:'}}
  {{registerForm.invalid |json}}
  {{',tipo user:'}}
  {{registerForm.controls['tipo_usuario'].invalid |json}}
  {{',nombre:'}}
  {{registerForm.controls['nombre'].invalid |json}}
  {{',password:'}}
  {{registerForm.controls['password'].invalid |json}} -->
  </form>
</div>
