<h1 class="mb-5">Registro</h1>

<form
  class="row g-3 bg-warning p-3 rounded-3"
  [formGroup]="registerForm"
  (ngSubmit)="onRegister()"
>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Nombre y Apellido</label>
    <input
      type="text"
      class="form-control"

      placeholder=""
      formControlName="nombre"
    />
    <div *ngIf="registerForm.controls['nombre'].invalid && (registerForm.controls['nombre'].dirty || registerForm.controls['nombre'].touched)" class="text-danger">
      Nombre es requerido.
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" formControlName="correo" />
    <div *ngIf="registerForm.controls['correo'].invalid && (registerForm.controls['correo'].dirty || registerForm.controls['correo'].touched)" class="text-danger">
      Email es requerido y debe ser válido.
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="inputPassword4" formControlName="password" />
    <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="text-danger">
      Contraseña es requerida.
    </div>
  </div>

  <div class="col-md-4">
    <label for="inputState" class="form-label">Tipo</label>
    <select id="inputState" class="form-select" formControlName="tipo_usuario">
      <option value="" selected>seleccione...</option>
      <option value="Estudiante">Estudiante</option>
      <option value="Docente">Docente</option>
      <option value="Administrativo">Administrativo</option>
    </select>
    <div *ngIf="registerForm.controls['tipo_usuario'].invalid && (registerForm.controls['tipo_usuario'].dirty || registerForm.controls['tipo_usuario'].touched)" class="text-danger">
      Tipo es requerido.
    </div>
  </div>

  <div class="col-12 ">
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrarse</button>
  </div>
  <div id="accountHelp" class="form-text">No tienes una cuenta? <strong class="" routerLink="/auth/login">haz click aqui</strong></div>
<!-- {{registerForm.value |json}}
{{'todo el formulario:'}}
{{registerForm.invalid |json}}
{{',tipo user:'}}
{{registerForm.controls['tipo_usuario'].invalid |json}}
{{',nombre:'}}
{{registerForm.controls['nombre'].invalid |json}}
{{',password:'}}
{{registerForm.controls['password'].invalid |json}} -->
</form>
