<div class="m-2 text-end">
  <button class="btn btn-danger mt-2" (click)="logout()">Cerrar Sesion</button>
</div>

<div class="row">
  <div class="col-3">
    <shared-side-menu></shared-side-menu>
  </div>
  <div class="col-9 mt-3">
    <h1>Cursos</h1>
    <hr />
    <div class="mb-3">
      <button
        class="me-5"
        mat-raised-button
        color="primary"
        (click)="seeRegister()"
      >
        Registrar un curso <mat-icon>app_registration</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="viewAllCourses()">
        Ver los curso <mat-icon>view_list</mat-icon>
      </button>
    </div>

    <!--------------------------------------------------------------------------- registro/ -->
    <form
      *ngIf="isRegister"
      class="row g-3 mt-3"
      novalidate
      [formGroup]="courseForm"
      (ngSubmit)="registerCourse()"
    >
      <div class="row">
        <div class="col position-relative">
          <!-- <label for="validationTooltip01" class="form-label"
          >Nombre del curso</label
        >
        <input
          type="text"
          value=""
          formControlName="nombre"
        /> -->
          <mat-form-field class="w-100">
            <mat-label>Nombre del Curso</mat-label>
            <input
              matInput
              type="text"
              formControlName="nombre"
              placeholder="Ej: Curso de IA"
            />
          </mat-form-field>
        </div>
        <div class="col position-relative">
          <!-- <label for="validationTooltip05" class="form-label"
          >Carga horaria</label
        >
        <input
          type="text"
          class="form-control"
          id="validationTooltip05"
          required
          formControlName="carga_horaria"
        />
        <div class="invalid-tooltip">por favor datos correctos.</div> -->
          <mat-form-field class="w-100">
            <mat-label>Carga Horaria</mat-label>
            <input type="number" matInput value="0" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col position-relative">
          <!-- <label for="validationTooltip02" class="form-label"
          >Descripcion del Curso</label
        >
        <input
          type="text"
          class="form-control"
          id="validationTooltip02"
          value=""
          required
          formControlName="descripcion"
        />
        <div class="valid-tooltip">Looks good!</div> -->
          <mat-form-field class="w-100">
            <mat-label>Descripcion del Curso</mat-label>
            <input type="text" matInput formControlName="descripcion" />
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 position-relative">
          <!-- <label for="validationTooltip04" class="form-label"
            >Institucion a la que pertenece</label
          >
          <select class="form-select" formControlName="InstitucionId">
            <option value="" selected>Instituciones...</option>
            <option
              *ngFor="let institucion of listInstitution"
              [value]="institucion.id"
            >
              {{ institucion.nombre }}
            </option>
          </select> -->
          <mat-form-field>
            <mat-label>Seleccione Una Institurcion</mat-label>
            <mat-select formControlName="InstitucionId">
              <mat-option
              *ngFor="let institucion of listInstitution"
              [value]="institucion.id"
              >
              {{institucion.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="courseForm.invalid"
          >
            Registrar Curso
          </button>
        </div>
      </div>
    </form>
    <!--------------------------------------------------------------------------- lista/ -->
    <div *ngIf="isList">
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Carga Horaria</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listCourses">
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.carga_horaria }}</td>

                <td>
                  <button
                    mat-raised-button color="primary"
                    (click)="updateCourse(item.id)"
                  >
                    Actualizar
                  </button>
                </td>
                <td>
                  <button
                  mat-mini-fab color="warn"
                  (click)="onDelete(item.id)">
                   <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--------------------------------------------------------------------------- update/ -->
    <form
      *ngIf="isUpdate"
      class="row g-3 needs-validation"
      novalidate
      [formGroup]="courseUpdateFom"
      (ngSubmit)="onUpdate()"
    >
      <div class="col-md-4 position-relative">
        <!-- <label for="validationTooltip01" class="form-label"
          >Nombre del curso</label
        >
        <input
          type="text"
          class="form-control"
          id="validationTooltip01"
          value=""
          required
          formControlName="nombre"
        />
        <div class="valid-tooltip">Looks good!</div> -->
        <mat-form-field>
          <mat-label>Nombre del curso</mat-label>
          <input type="text" formControlName="nombre" matInput>
        </mat-form-field>
      </div>

      <div class="col-md-4 position-relative">
        <!-- <label for="validationTooltip02" class="form-label"
          >Descripcion del Curso</label
        >
        <input
          type="text"
          class="form-control"
          id="validationTooltip02"
          value=""
          required
          formControlName="descripcion"
        />
        <div class="valid-tooltip">Looks good!</div> -->
        <mat-form-field>
          <mat-label>Descripcion del Curso</mat-label>
          <input type="text" matInput formControlName="descripcion">
        </mat-form-field>
      </div>

      <div class="col-md-3 position-relative">
        <!-- <label for="validationTooltip05" class="form-label"
          >Carga horaria</label
        >
        <input
          type="text"
          class="form-control"
          id="validationTooltip05"
          required
          formControlName="carga_horaria"
        />
        <div class="invalid-tooltip">por favor datos correctos.</div> -->
        <mat-form-field>
          <mat-label>Carga horaria</mat-label>
          <input type="text" matInput formControlName="carga_horaria">
        </mat-form-field>
      </div>

      <div class="col-12">
        <button mat-raised-button color="primary" type="submit">Actualizar Curso</button>
      </div>
    </form>
    <!--------------------------------------------------------------------------- end/ -->
  </div>
</div>
